Pods/
Country.mmdb
Carthage
ClashXR/Resources/dashboard
ClashXR.app
*.dmg
**/xcuserdata/
.idea
*.pyc
.DS_Store
*.a
**/dashboard/
GeoIP2-Country.mmdb.1
GeoIP2-Country.mmdb.2
.vscode
ClashXR/goClash/goClash.h
ClashXR/goClash/goClash.a
